@font-face
  font-family: FuturaExtraBold
  src: url(../fonts/Futura/FuturaFuturisCondExtraBoldC.woff)

@font-face
  font-family: Minecraft
  src: url(../fonts/Minecraft-Regular.otf)

@font-face
  font-family: Roses
  src: url(../fonts/Roses.ttf)

@font-face
  font-family: SFSquareHead
  src: url(../fonts/SFSquareHeadCondensed.ttf)

@font-face
  font-family: Consola
  src: url(../fonts/CONSOLA.TTF)

@font-face
  font-family: ConsolaBold
  src: url(../fonts/CONSOLAB.TTF)

.page-title
  font-family: ConsolaBold !important

html
  scroll-behavior: smooth

.App
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: white
  background-color: black

  .content-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%

  .icon
    background-size: cover
    background-repeat: no-repeat
