@use '_variables.sass' as var

.page
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  min-height: 100vh
  padding: 0 2em

  &.titlepage
    justify-content: center

.page-title
  font-family: FuturaExtraBold
  font-size: 2.2rem

.page-enter
  opacity: 0
  z-index: 1

.page-enter.page-enter-active
  opacity: 1

  transition: opacity 250ms ease-out

.page-exit
  opacity: 1

.page-exit.page-exit-active
  opacity: 0
  transition: opacity 250ms ease-out
