.works
  .works-container
    display: flex

    .work
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      width: 8rem
      height: auto
      list-style: none
      border: 1px solid silver

      .work-links
        display: flex

      a
        display: block
        width: 1.5rem
        height: 1.5rem

        .icon
          width: 1.5rem
          height: 1.5rem
          border-radius: 50%

          &#external
            border-radius: 0
