.works
  .works-container
    display: flex

    .work
      width: 5rem
      height: 8rem
      list-style: none
      border: 1px solid silver

      a
        display: block
        width: 1.5rem
        height: 1.5rem

        .icon
          width: 1.5rem
          height: 1.5rem
          border-radius: 50%
