.works
  .works-container
    display: flex
    justify-content: space-around
    flex-wrap: wrap

    .work
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      width: 8rem
      min-width: 200px
      min-height: 250px
      height: auto
      margin: 0.75em
      padding: 1em
      list-style: none
      border: 1px solid silver
      border-radius: 5px

      .work-title
        font-size: 1.25rem

      .work-text
        font-size: 0.85rem

      .work-links
        display: flex

      a
        display: block
        width: 1.5rem
        height: 1.5rem

        .icon
          width: 1.5rem
          height: 1.5rem
          border-radius: 50%

          &#external
            border-radius: 0
